*{
   font-family: Arial, Helvetica, sans-serif; 
}

#header{
    background-color: #064789;
    color: #ebf2fa;
    padding: 20px;
}

#logo {
    float: left;
    width: 20%;
}

#timeline{
    position: absolute;
    top: 150px;
    right: 0px;
    max-width: 25%;
    background-color: #064789;
    margin-right: 20px;
}

#main{
    max-width: 75%;
}

